@use 'sass:map';
@use '../../../style/index' as *;

:host {
  display: block;
}

.header {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 3px solid #000;
  padding: 10px 40px;
  @include mobile-width() {
    height: 55px;
    padding: 8px;
  }
  .logo {
    &-img {
      width: 500px;
      @include mobile-width() {
        width: 90%;
      }
    }
    &-link {
      display: flex;
      align-items: center;
    }
  }
  .menu {
    list-style: none;
    a {
      display: block;
      color: black;
      text-decoration: none;
      @include mobile-width() {
        display: none;
      }
    }
  }
  .hamburger {
    width: 50px;
    height: 40px;
    &-line {
      height: 4px;
      background-color: black;
      margin: 6px 0px;
    }
  }
}
