@use 'sass:map';
@use '../../../../style/index' as *;

.bar {
  width: 100%;
  border-radius: 20px;
  height: 14px;
  overflow: hidden;
  background-color: white;
  display: flex;
  align-items: center;
}

.ddp {
  background-color: map.get($light-theme, greenDark);
  height: 100%;
}

.kmt {
  background-color: map.get($light-theme, blueDark);
  height: 100%;
}

.pfp {
  background-color: map.get($light-theme, orangeDark);
  height: 100%;
}
