@use 'sass:map';
@use '../../../../style/index' as *;

.bar {
  width: 100%;
  border-radius: 20px;
  height: 14px;
  overflow: hidden;
  background-color: white;
  display: flex;
  align-items: center;
}

.inner {
  height: 100%;
}
