@use 'sass:map';
@use '../../../../style/index' as *;

:host {
  display: block;
}

.chart-info {
  width: 480px;
  box-sizing: border-box;
  border: 2px solid black;
  animation: slideFromLeft 0.5s forwards ease-in-out;
  @include mobile-width() {
    width: 100%;
  }
  &-title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 1px solid black;
  }
  &-avatar {
    height: 250px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    padding: 20px;
  }

  &-list {
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      &:first-child {
        color: #888;
      }
    }
    .zone {
      width: 20%;
    }
    .percentage {
      width: 80%;
    }
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
