:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan-container {
  width: 1000px;
  height: 800px;
  background-color: antiquewhite;
  position: relative;
}

#left-top {
  top: 200px;
  left: 100px;
  transform: scale(0.8);
}

#left-center {
  top: 400px;
  left: 200px;
  transform: scale(0.7);
}

#left-bottom {
  top: 600px;
  left: 50px;
}

#right-top {
  top: 100px;
  right: 50px;
}

#right-center {
  top: 300px;
  right: 80px;
  transform: scale(0.8);
}

#right-bottom {
  top: 600px;
  right: 160px;
  transform: scale(0.7);
}
