.chart-container {
  display: grid;
  grid-template-columns: 480px auto;
  grid-column-gap: 16px;
  width: 100%;
  max-width: 1300px;
  box-sizing: border-box;
  height: 800px;
  margin: auto;
  padding: 50px;
}
