@use 'sass:map';
@use '../../../style/index' as *;

.chart-container {
  display: flex;
  gap: 16px;
  width: 100%;
  max-width: 1300px;
  box-sizing: border-box;
  height: 850px;
  margin: auto;
  overflow: hidden;
  padding: 50px;
  @include pad-width() {
    flex-direction: column;
    flex-direction: column-reverse;
    height: auto;
    padding: 10px;
    gap: 10px;
  }
  .map-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    animation: slideFromRight 0.5s forwards ease-in-out;
    @include pad-width() {
      flex-direction: column-reverse;
    }
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
