@use 'sass:map';
@use '../../../style/index' as *;

.desc {
  color: map.get($light-theme, primary);
}

.overview-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: calc(100vh - 140px);
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 60vh 0 0 60vw;
    border-color: transparent transparent transparent
      map.get($light-theme, primary);
  }

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 60vh 50vw;
    border-color: transparent transparent map.get($light-theme, lightGray)
      transparent;
  }
}

.candidate-group {
  animation: slideIn 0.5s ease-in-out;
  z-index: 10;
  width: 50vw;
  height: 500px;
  min-width: 1000px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;

  @include mobile-width() {
    width: 100vw;
    min-width: auto;
  }
  .candidate {
    width: 400px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    @include mobile-width() {
      width: 50%;
      bottom: -20px;
    }
    .more {
      width: 80%;
      position: relative;
      z-index: 20;
      cursor: pointer;
    }
    .portrait {
      position: relative;
      width: 100%;
      cursor: pointer;
    }
    &-kmt {
      transform: translateX(-65%);
      .portrait {
        top: 30px;
      }
      &:hover {
        animation: kmtUp 0.1s forwards linear;
      }
    }

    &-ddp {
      z-index: 30;
      .more {
        left: 10%;
      }
      &:hover {
        animation: ddpUp 0.1s forwards linear;
        .more {
          animation: lean 0.1s forwards linear;
        }
      }
    }

    &-pfp {
      width: 450px;
      transform: translateX(60%);
      .portrait {
        top: 100px;
      }
      .more {
        width: 60%;
        left: 40%;
      }
      &:hover {
        animation: pfpUp 0.1s forwards linear;
      }
      @include mobile-width() {
        width: 60%;
        transform: translateX(50%);
        .portrait {
          top: 50px;
        }
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateY(70%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes lean {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(12deg);
  }
}

@keyframes kmtUp {
  from {
    transform: translate(-65%, 0%);
  }
  to {
    transform: translate(-65%, -5%);
  }
}

@keyframes ddpUp {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-1%);
  }
}

@keyframes pfpUp {
  from {
    transform: rotate(0) translateX(60%);
  }
  to {
    transform: rotate(-4deg) translateX(60%);
  }
}
