@use 'sass:map';
@use '../../../style/index' as *;

.menu {
  text-align: right;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: map.get($light-theme, primary);
  z-index: 200;
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 40vh 0 0 150vw;
    border-color: transparent transparent transparent #fff;
  }

  &-list {
    position: relative;
    top: 20%;
    padding-right: 20px;
    li {
      color: #fff;
      padding-bottom: 16px;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .building {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    left: -60%;
    transform: scale(1.2);
    filter: saturate(70%);
  }
}
