@use 'sass:map';
@use '../../../../style/theme' as *;

.map-box {
  position: relative;
  height: 683px;
  overflow: hidden;
}
.map {
  background-color: map.get($light-theme, lightGray);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  @include pad-width() {
    margin-bottom: 10px;
  }
  &-back {
    position: absolute;
    width: 60px;
    height: 60px;
    cursor: pointer;
    left: 10px;
    top: 10px;
    .mat-icon {
      width: 40px;
      height: 40px;
      font-size: 40px;
    }
  }
  .county {
    stroke: #757575;
    stroke-width: 0.05;
  }

  .town {
    stroke: #fff;
    stroke-width: 0.05;
  }
  .village {
    stroke: #fff;
    stroke-width: 0.05;
  }
}

::ng-deep {
  .map-info {
    background: #fff;
    color: black;
    position: absolute;
    visibility: hidden;
    z-index: 100;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0.8;
    width: 180px;
    height: 120px;
    font-size: 14px;
    &-title {
      padding-bottom: 10px;
      font-size: 16px;
    }

    &-list {
      list-style: none;
      li {
        display: flex;
        padding-bottom: 8px;
        .dot {
          display: block;
          margin-right: 10px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
        }
      }
    }
  }
}
