@use 'sass:map';
@use '../../../../style/index' as *;

.search-bar {
  height: 50px;
  margin-bottom: 8px;
  border: 2px solid black;
  border-bottom-color: transparent;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  @include mobile-width() {
    flex-direction: column;
    height: 260px;
    padding: 0 10px;
  }
}

.search-title {
  padding: 16px 10px;
}

.search-icon {
  height: 30px;
  width: 30px;
  position: relative;
  cursor: pointer;
  top: -4px;
  margin-left: 10px;
}

::ng-deep .mat-mdc-form-field {
  border-left: 2px solid black;
  @include mobile-width() {
    width: 100%;
    max-width: 400px;
    border-left: none;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
  }
}

.overview-btn {
  cursor: pointer;
  background-color: #fff;
  border: 2px solid black;
  height: 40px;
  padding: 0 10px;
  display: inline-block;
  position: relative;
  top: -12px;
  margin-left: 16px;
  &:disabled {
    border-color: map.get($light-theme, lightGray);
  }
  @include mobile-width() {
    display: block;
    top: 0;
    padding: 10px;
    margin-left: 0;
  }
  &:hover {
    background-color: #ddd;
  }
}

.icon-btn {
  background: transparent;
  border: none;
}
