$light-theme: (
  primary: #a00,
  white: #fff,
  black: #000,
  gray: #444,
  lightGray: #8c8c8c,
  greenLight: #8af1b6,
  green: #30cb73,
  greenDark: #25a55c,
  blueLight: #bbd9ff,
  blue: #7eb2f4,
  blueDark: #4a8fe7,
  orangeLight: #ffb58c,
  orange: #f69e6d,
  orangeDark: #f88545,
);
