$primary: (
  50: #e9f0f1,
  100: #c7d9dd,
  200: #a2c0c6,
  300: #7da7af,
  400: #61949d,
  500: #45818c,
  600: #3e7984,
  700: #366e79,
  800: #2e646f,
  900: #1f515c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$secondary: (
  50: #fceef5,
  100: #f5cee1,
  200: #ebb0cd,
  300: #de95b8,
  400: #d576a4,
  500: #c96b98,
  600: #bc608d,
  700: #ae5781,
  800: #995476,
  900: #83526a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);
