$noteBook-media: 1280px;
$pad-media: 1024px;
$mobile-media: 768px;

@mixin noteBook-width() {
  @media all and (max-width: $noteBook-media) {
    @content;
  }
}

@mixin pad-width() {
  @media all and (max-width: $pad-media) {
    @content;
  }
}

@mixin mobile-width() {
  @media all and (max-width: $mobile-media) {
    @content;
  }
}
