@use './palettes' as *;
@use '@angular/material' as mat;

@include mat.core;

$app-primary: mat.define-palette(mat.$blue-grey-palette, 500);
$app-accent: mat.define-palette(mat.$indigo-palette, 500);
$app-warn: mat.define-palette(mat.$amber-palette, 500);

$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);
