@use 'sass:map';
@use '../../../style/index' as *;

:host {
  display: block;
}

footer {
  height: 60px;
  box-sizing: border-box;
  padding: 10px 40px;
  text-align: right;
  line-height: 40px;
  background-color: black;
  position: relative;
  z-index: 100;
  color: #fff;
  @include mobile-width() {
    height: 100px;
    text-align: left;
    padding: 20px;
  }
  .email {
    padding-right: 10px;
    @include mobile-width() {
      display: block;
      padding: 0;
    }
  }
}
