@use 'sass:map';
@use '@angular/material' as mat;
@use 'app/style/index' as *;
@import 'reset-css';

@import '@fontsource/fira-mono/400.css';
@import '@fontsource/fira-mono/500.css';
@import '@fontsource/fira-mono/700.css';

@include mat.core;

@include mat.all-component-themes($app-theme);

body {
  font-family: 'Noto Sans TC', 'system', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.ddp {
  background-color: map.get($light-theme, greenDark);
}

.kmt {
  background-color: map.get($light-theme, blueDark);
}

.pfp {
  background-color: map.get($light-theme, orangeDark);
}
