@use '../style/index' as *;

:host {
  display: block;
}

main {
  min-height: calc(100vh - 60px);
  padding-top: 80px;
  box-sizing: border-box;
  @include mobile-width() {
    padding-top: 60px;
  }
}
