:host {
  display: block;
}

.bar-with-avatar {
  display: flex;
  align-items: center;
}

.rate {
  box-sizing: border-box;
  padding-left: 10px;
  width: calc(100% - 20% - 50px);
}

.percentage {
  width: 20%;
  text-align: center;
}
